In [1]:
!pip install pandas numpy matplotlib random scikit-learn seaborn

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (2.0.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (3.10.0)
ERROR: Could not find a version that satisfies the requirement random (from versions: none)
ERROR: No matching distribution found for random

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import seaborn as sns

#Load the data

In [2]:
data=pd.read_csv("Wallet id - Sheet1.csv")
df=pd.DataFrame(data)
df.head()

                                    wallet_id
0  0x0039f22efb07a647557c7c5d17854cfd6d489ef3
1  0x06b51c6882b27cb05e712185531c1f74996dd988
2  0x0795732aacc448030ef374374eaae57d2965c16c
3  0x0aaa79f1a86bc8136cd0d1ca0d51964f4e3766f9
4  0x0fe383e5abc200055a7f391f94a5f5d1f844b9ae

In [3]:
def wallet_data(wallet_id):
    return {
        "wallet_id": wallet_id,
        "total_borrowed": random.uniform(0, 50000),
        "total_repaid": random.uniform(0, 50000),
        "liquidations_faced": random.randint(0, 5),
        "collateral_supplied": random.uniform(0, 60000),
        "active_days": random.randint(0, 1000)
    }

In [4]:
wallet_data = [wallet_data(w) for w in df["wallet_id"]]
data_df = pd.DataFrame(wallet_data)
data_df.head()

,wallet_id,total_borrowed,total_repaid,liquidations_faced,collateral_supplied,active_days
0,0x0039f22efb07a647557c7c5d17854cfd6d489ef3,46444.586641,16836.446466,4,15563.831656,354
1,0x06b51c6882b27cb05e712185531c1f74996dd988,27833.501371,31784.878005,2,15491.414673,345
2,0x0795732aacc448030ef374374eaae57d2965c16c,13989.228475,46321.835568,0,53752.769526,142
3,0x0aaa79f1a86bc8136cd0d1ca0d51964f4e3766f9,9508.870186,1596.952610,1,19904.021634,637
4,0x0fe383e5abc200055a7f391f94a5f5d1f844b9ae,42954.945138,15573.100360,3,18753.450119,258

#Collateral to Borrow Ratio

In [5]:
#collateral wallet supplied v/s  what they borrowed. so if the the collateral_supplied is more than it is good as compared to borrow.
data_df["collateral_borrow_ratio"] = data_df["collateral_supplied"] / (data_df["total_borrowed"] + 1)
data_df["collateral_borrow_ratio"].head()

0    0.335098
1    0.556554
2    3.842165
3    2.092986
4    0.436574
Name: collateral_borrow_ratio, dtype: float64

In [6]:
#Repayment ratio means how much of the borrowed amount they have repaid the higher they repaid the better
data_df["repayment_ratio"] = data_df["total_repaid"] / (data_df["total_borrowed"] + 1)
data_df["repayment_ratio"].head()

0    0.362498
1    1.141924
2    3.311014
3    0.167926
4    0.362537
Name: repayment_ratio, dtype: float64

In [7]:
def normalize(series):
    return (series - series.min()) / (series.max() - series.min() + 1e-9)

In [8]:
#Make all values normalize between 0 to 1 means similar to scalling.
data_df["norm_cbr"] = normalize(data_df["collateral_borrow_ratio"])
data_df["norm_repay"] = normalize(data_df["repayment_ratio"])
data_df["norm_active"] = normalize(data_df["active_days"])
data_df.head()

,wallet_id,total_borrowed,total_repaid,liquidations_faced,collateral_supplied,active_days,collateral_borrow_ratio,repayment_ratio,norm_cbr,norm_repay,norm_active
0,0x0039f22efb07a647557c7c5d17854cfd6d489ef3,46444.586641,16836.446466,4,15563.831656,354,0.335098,0.362498,0.014714,0.014609,0.345491
1,0x06b51c6882b27cb05e712185531c1f74996dd988,27833.501371,31784.878005,2,15491.414673,345,0.556554,1.141924,0.025056,0.053928,0.336373
2,0x0795732aacc448030ef374374eaae57d2965c16c,13989.228475,46321.835568,0,53752.769526,142,3.842165,3.311014,0.178499,0.163350,0.130699
3,0x0aaa79f1a86bc8136cd0d1ca0d51964f4e3766f9,9508.870186,1596.952610,1,19904.021634,637,2.092986,0.167926,0.096810,0.004794,0.632219
4,0x0fe383e5abc200055a7f391f94a5f5d1f844b9ae,42954.945138,15573.100360,3,18753.450119,258,0.436574,0.362537,0.019453,0.014611,0.248227

In [9]:
#Liquidations are bad, so we subtract from 1. more liquidations = lower score
data_df["norm_liquidations"] = 1 - normalize(data_df["liquidations_faced"])

#Scoring logic

In [10]:
data_df["score"] = (
    0.3 * data_df["norm_cbr"] +
    0.3 * data_df["norm_repay"] +
    0.2 * data_df["norm_active"] +
    0.2 * data_df["norm_liquidations"]
) * 1000

In [11]:
data_df["score"] = data_df["score"].round().astype(int)
data_df[["wallet_id", "score"]].head()

                                    wallet_id  score
0  0x0039f22efb07a647557c7c5d17854cfd6d489ef3    118
1  0x06b51c6882b27cb05e712185531c1f74996dd988    211
2  0x0795732aacc448030ef374374eaae57d2965c16c    329
3  0x0aaa79f1a86bc8136cd0d1ca0d51964f4e3766f9    317
4  0x0fe383e5abc200055a7f391f94a5f5d1f844b9ae    140

#Save final output

In [13]:
output_df = data_df[["wallet_id", "score"]]
output_df.to_csv("wallet_risk_scores.csv", index=False)